.page {
  background-color: #e3ecd1;
  max-width: 1280px;
  margin: 50px auto;
}

.header {
  max-width: 1080px;
  margin: 0 auto;
}

.title {
  font-size: 50px;
}

.content {
  margin: 0 auto;
  /* background-color: #e3ecd1; */
  padding: 0 100px;
}

.mem-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mem {
  display: flex;
  flex-direction: column;
  border-top: 1px solid;
  padding-bottom: 30px;
}

.mem__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mem__title {
  font-size: 35px;
  line-height: 1.1;
}

.mem__open {
  margin: 0;
  padding: 0;
  height: 50px;
  width: 50px;
  background: none;
  background-image: url("./images/cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.mem__image {
  margin: 0 auto;
}
